<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Books Review App</title>
</head>
<body>
    <nav>
        <div class="ui fixed inverted menu">
            <div class="ui container">
            <div class="header item"><i class="book icon"></i>Book Reviews</div>
            <a class="header item" href="/books">All Books</a>
                <a class="header item" href="/books/new">Add Book</a>
                <% if(!currentUser) { %>
                    <a class="header item right" href="/login">Login</a>
                    <a class="header item" href="/register">Sign Up</a>
                <% } else { %>
                    <a class="header item right" href="/logout">Logout</a>
                    <div class="header item"><span id="green">Signed in as <%= currentUser.username %></span></div>
                <% } %>
            </div>
        </div>
    </nav>

    <% if(error && error.length > 0) { %>
        <div class="ui container">
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    <%= error %>
                </div>
            </div>
        </div>
    <% } %>

    <% if(success && success.length > 0) { %>
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">
                <%= success %>
            </div>
        </div>
    <% } %>

   
    
