i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7em;
}

img {
    width: 100px;
    height: auto;
}

#delete {
    display: inline;
}

#pull-right {
    color: #fff;
    text-align: right;
}

#pull-left {
    text-align: left;
}

#text-center {
    text-align: center;
}

#move-down {
    margin-top: 70px;
}

#green {
    color: greenyellow;
}